@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
	padding: 0;
	margin: 0;
	color: #000000;
	font-family: 'amatic sc', sans-serif;

}

/*	HEADER	*/

.header-wrapper {
	height: 100vh;
	width: 100%;
	background: linear-gradient(-45deg, #220449, #ca9c06, #16b4db, #ff0000 );
	background-size: 400% 400%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	animation: backgroundTransition 8s ease-in-out infinite;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 4px;
}

h2 {
	text-transform: uppercase;
	letter-spacing: 4px;
}

.social-media {
	margin-top: 1rem;
	display: flex;
}

.social-media a{
	text-decoration: none;
	color: white;
	font-size: 24px;
	padding: 1rem 4rem;
	border: 1px solid white;
	min-width: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: .5s cubic-bezier(0.55 ,0.025, 0.675, 0.97);
}

a:hover {
	color:#000000;
	background-color: white;
}

@keyframes backgroundTransition {
	0%{
		background-position: 0% 80%;
	}
	50% {
		background-position: 80% 100%;
	}
	100%{
		background-position: 0% 90%;
	}
}

/* MENU HAMBURGUER*/

.checkbox-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.checkbox {
	height: 100px;
	width: 100px;
	position: absolute;
	top: 0;
	right: 0;
	display: flex;
	justify-content: center;
	cursor: pointer;
	z-index: 9999;
	transition: 400ms ease-in-out 0s;
}

.checkbox .trace {
	width: 50px;
	height: 2px;
	background-color: white;
	position: absolute;
	border-radius: 4px;
	transition: 0.5s ease-in-out;
}

.checkbox .trace:nth-child(1){
	top: 26px;
	transform: rotate(0);
}

.checkbox .trace:nth-child(2){
	top: 46px;
	transform: rotate(0);
}

.checkbox .trace:nth-child(3){
	top: 66px;
	transform: rotate(0);
}

#toggle {
	display: none;
}

/* MENU*/

.menu {
	position: absolute;
	top: 28px;
	right: 30px;
	background: transparent;
	height: 40px;
	width: 40px;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px white;
	z-index: -1;
	transition: 400ms ease-in-out 0s;
}

.menu-itens {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex ;
	justify-content: center;
	align-items: center;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: 400ms ease-in-out 0s;
}

.menu-itens ul {
	list-style-type: none;
}

.menu-itens ul li a {
	margin: 10px 0;
	color: rgb(40, 13, 102) ;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 4px;
	font-size: 40px;
}

/* ANIMAÇÃO DO MENU*/


#toggle:checked + .checkbox .trace:nth-child(1){
	transform: rotate(45deg);
	background-color: rgb(247, 63, 7);
	top: 47px;
}

#toggle:checked + .checkbox .trace:nth-child(2){
	transform: translateX(-100px);
	width: 30px;
	visibility: hidden;
	opacity: 0;
}

#toggle:checked + .checkbox .trace:nth-child(3){
	transform: rotate(-45deg);
	background-color: rgb(247, 63, 7);
	top: 48px;
}

#toggle:checked + .checkbox {
	background-color: white;
}

#toggle:checked ~ .menu {
	box-shadow: 0px 0px 0px 100vmax white; 
	z-index: 1;
}

#toggle:checked ~ .menu-itens {
	visibility: visible;
	opacity: 1;

}


/* HOME CARDS */

.container {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin: 3rem 0;

}

.card-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;

}

.card1 {
	height: 300px;
	width: 400px;
	margin: 3rem;
	background-image: url(./21e215b0d201f71f693e1352447454d0.jpg) ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: grayscale(0.5);
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;

}

.card2 {
	height: 300px;
	width: 500px;
	margin: 3rem;
	background-image: url(./Gyomei.jpg) ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: grayscale(0.5);
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;

}


.card3 {
	height: 300px;
	width: 500px;
	margin: 3rem;
	background-image: url(./luffy.webp) ;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: grayscale(0.5);
	color: #ffffff;
	cursor: pointer;
	transition: 0.3s;

}

.card-text {
	width: 40%;
	font-family: sans-serif;
	letter-spacing: 1px;
	color: rgb(109,109,109);
}

.card-wrapper::before {
	content: '';
	position: absolute;
	height: 50px;
	width: 50px;
	display: block;
	border: 1px solid white;
	opacity: 0;
	transition: 1s;
}

.card-wrapper h2 {
	font-size: 40px;
	text-transform: uppercase;
	letter-spacing: 4px;
	margin: 0;
	transition: 0.3s;
	
}

.card-wrapper p {
	font-size: 10px;
	visibility: hidden;
	text-transform: uppercase;
	opacity: 0;
	transition: 0,3s;
	font-weight: bold;
}

.card1:hover {
	filter: unset;
}

.card2:hover {
	filter: unset;
}

.card3:hover {
	filter: unset;
}

.card1:hover > .card-wrapper::before {
	opacity: 1;
	width:150px;
	height: 200px;
	position: absolute;
}

.card2:hover > .card-wrapper::before {
	opacity: 1;
	width: 150px;
	height: 150px;
	margin: 0;
}

.card3:hover > .card-wrapper::before {
	opacity: 1;
	width: 325px;
	height: 140px;
	margin: 0;
}

footer {
	height: 50px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(75, 75, 73);
	
}

/* REPONSIVO */

@media (max-width: 800px) {
	.social-media {
		display: flex;
		flex-direction: column;
	}

	.container {
		margin-top: 0;
	}

	.card-container {
		flex-direction: column;
	}

	.container .card-container:nth-child(1),
	.container .card-container:nth-child(3){
		flex-direction: column-reverse;
	}

	.card1,
	.card2,
	.card3 {
		height: 250px;
		width: 250px;
	}

	.card-text {
		width: 90%;
		margin-top: 2rem;
		text-align: center;
	}

	.card1:hover > .card-wrapper::before,
	.card2:hover > .card-wrapper::before,
	.card3:hover > .card-wrapper::before {
		height: 190px;
		width: 190px;
	}
}